{% extends 'base.html.twig' %}

{% block title %}Hello, Brainstack_{% endblock %}

{% block body %}

<div id="hitsContainer" class="container">

    <a href="/hit" id="clickHit">
        <img width="100%" src="{{ asset('images/banner.jpg') }}" alt="banner">
    </a>
    <div style="text-align: center">
        <h1>Hits: <span id="hits">{{ hits }}</span></h1>
        <div class="loader" style="display: none"><img width="25" src="{{ asset('images/loader.gif') }}" alt=""></div>
    </div>

</div>

{% endblock %}

{% block extra_javascripts %}
    <script>
        $('#clickHit').on('click', function (event){

          event.preventDefault()

          let url = $(this).attr('href');

          $('.loader').css('display', 'block');
          axios.post(url)
          .then(function (response) {
            $('#hits').html(response.data.hits);
          })
          .catch(function (error) {
            console.log(error);
          })
          .then(function (){
            $('.loader').css('display', 'none');
          })

        });
    </script>
{% endblock %}
